::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

::-webkit-scrollbar-track {
  border-radius: 40px;
  background-color: #ffcfcf;
}

::-webkit-scrollbar-thumb {
  border-radius: 40px;
  background-color: rgb(124, 124, 124);
}
